div.card.order
    div.card__header
        div.order Заказ № 
            span 38944
        div.detail
            img(src="../svg/info/info.svg", alt="")
            a(href="/pages/order.html") Подробнее о заказе    

    div.card__body   
        div.markets
            a.market(href="#") 
                img(src="../svg/markets/ozon_on.svg", alt="")
                span МойСклад
            a.market(href="#") 
                img(src="../svg/navigation/briefcase.svg", alt="")
                span ООО “Ромашка”
    div.card__footer
        div.status
            img(src="../svg/IconClock.svg")
            span В работе
