div.card.order
    div.card__header
        div.order Заказ № 
            span 38944
        div.detail
            img(src="../svg/IconCancel.svg", alt="")
            a(href="#") Вернуть в работу  

    div.card__body   
        div.markets            
            a.market(href="#") 
                img(src="../svg/markets/markets-1.svg", alt="")
                span Wildberries
            a.market(href="#") 
                img(src="../svg/navigation/briefcase.svg", alt="")
                span ООО “Ромашка”
    div.card__footer
        div.status
            img(src="../svg/btnIcons/check.svg")
            span.check Выполнено
