div.card.integrations.delete.mh312
    div.card__body        
        div.action
            span Удалить интеграцию?   

    div.card__footer.w-100.flex
        a(href="#").btn Отменить
        a(href="#").btn.prime Удалить
