div.table-before 
    h2 Товары
div.table.finance
    div.thead 
        div.td 
            span Статус
        div.td 
            span Название
        div.td Баланс
    div.tbody 
        div.tr
            div.trhead
                div.td             
                    img(src="../svg/navigation/products.svg", alt="")
                    span Работает
                    img(src="../svg/indicator/status_on.svg", alt="", class="indicator")
                div.td ФГ Иванов
                div.td 2 000 000 ₽                    
                
                div.td.icons
                    button(class="delete")
                        include ../../../../svg/IconTrash.svg
                    a(href="#")
                        include ../../../../svg/IconPencil.svg
            div.trbody
                div.flex.gap16
                    div.tag ООО “Ромашка”
                    div.tag ИП Иванов
                    div.tag ООО “Ромашка-Прайм”
            div.trfoot
                div.action 
                    span Удалить финансовую группу?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить

        div.tr.active
            div.trhead
                div.td             
                    img(src="../svg/navigation/products.svg", alt="")
                    span Не работает
                    img(src="../svg/indicator/status_off.svg", alt="", class="indicator")
                div.td ФГ Иванов
                div.td 1 684 ₽                   
                
                div.td.icons
                    button(class="delete")
                        include ../../../../svg/IconTrash.svg
                    a(href="#")
                        include ../../../../svg/IconPencil.svg
            div.trbody
                div.flex.gap16
                    div.tag ООО “Ромашка”
                    div.tag ИП Иванов
                    div.tag ООО “Ромашка-Прайм”
            div.trfoot
                div.action 
                    span Удалить финансовую группу?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td             
                    img(src="../svg/navigation/products.svg", alt="")
                    span Работает
                    img(src="../svg/indicator/status_on.svg", alt="", class="indicator")
                div.td ФГ Иванов
                div.td 2 000 000 ₽                    
                
                div.td.icons
                    button(class="delete")
                        include ../../../../svg/IconTrash.svg
                    a(href="#")
                        include ../../../../svg/IconPencil.svg
            div.trbody
                div.flex.gap16
                    div.tag ООО “Ромашка”
                    div.tag ИП Иванов
                    div.tag ООО “Ромашка-Прайм”
            div.trfoot
                div.action 
                    span Удалить финансовую группу?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить

        div.tr
            div.trhead
                div.td             
                    img(src="../svg/navigation/products.svg", alt="")
                    span Не работает
                    img(src="../svg/indicator/status_off.svg", alt="", class="indicator")
                div.td ФГ Иванов
                div.td 1 684 ₽                   
                
                div.td.icons
                    button(class="delete")
                        include ../../../../svg/IconTrash.svg
                    a(href="#")
                        include ../../../../svg/IconPencil.svg
            div.trbody
                div.flex.gap16
                    div.tag ООО “Ромашка”
                    div.tag ИП Иванов
                    div.tag ООО “Ромашка-Прайм”
            div.trfoot
                div.action 
                    span Удалить финансовую группу?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td             
                    img(src="../svg/navigation/products.svg", alt="")
                    span Работает
                    img(src="../svg/indicator/status_on.svg", alt="", class="indicator")
                div.td ФГ Иванов
                div.td 2 000 000 ₽                    
                
                div.td.icons
                    button(class="delete")
                        include ../../../../svg/IconTrash.svg
                    a(href="#")
                        include ../../../../svg/IconPencil.svg
            div.trbody
                div.flex.gap16
                    div.tag ООО “Ромашка”
                    div.tag ИП Иванов
                    div.tag ООО “Ромашка-Прайм”
            div.trfoot
                div.action 
                    span Удалить финансовую группу?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить