div.content-header
    div.title 
        a(href="./organizations.html").back
            img(src="../svg/arrow/arrow-prev.svg", alt="")
        span ООО “Ромашка”

    //- a(href="./organizations-add.html").btn.prime
    a(href="#").btn.prime
        img(src="../svg/BTNicons.svg", alt="")
        span Добавить интеграцию