form(action="").filter-container.sort
    div.filter
        div.filter__column.wide
            div.h2 Сортировать по
            div.filter__radios
                div.radio
                    label 
                        input(type="radio", name="filterSort-option", value="sort-1", checked)
                        span.checked
                        span Позиция
                div.radio
                    label 
                        input(type="radio", name="filterSort-option", value="sort-2")
                        span.checked
                        span Позиция
                div.radio
                    label 
                        input(type="radio", name="filterSort-option", value="sort-3")
                        span.checked
                        span Позиция                    
                div.radio
                    label 
                        input(type="radio", name="filterSort-option", value="sort-4")
                        span.checked
                        span Позиция
    div.filter__actions
        button.btn.prime.apply-filter(type="button") Применить