div.card.worker
    div.card__header
        div.status
            img(src="../svg/People.svg")
            span Менеджер

    div.card__body   
        div.action.hidden
            span Удалить <br /> пользователя?   

        div.title Пушкин Александр Сергеевич
        div.info 
            div.text ООО «Ромашка»       
        div.info 
            div.text ИП Иванов
        div.info 
            a(href="#", class="more") ещё 3
        
    div.card__footer.w-100.flex.hidden
        button.cancel.btn Отменить
        a(href="#").btn.prime Удалить

    div.card__footer.text-right
        div.mb16  
            a(href="#").link          
                img(src="../svg/IconPencil.svg", alt="")
                span Редактировать
        div 
            button.remove.link          
                img(src="../svg/IconTrash.svg", alt="")
                span Удалить
