div.card.worker.delete
    div.card__body        
        div.action
            span Удалить <br /> пользователя?     

    div.card__footer.w-100.flex
        a(href="#").btn Отменить
        a(href="#").btn.prime Удалить
