div.card.organization
    div.card__header
        div.status
            img(src="../svg/People.svg")
            span Менеджер

    div.card__body        
        div.title Петров Петр Петрович       

    div.card__footer.text-center
        div 
            a(href="#", class="btn prime w-100 block mb16")  Добавить в организацию
        div  
            a(href="#").link          
                img(src="../svg/IconPencil.svg", alt="")
                span Редактировать