nav
    ul.pagination
        li
            a(href="#prev").page-item.prev 
                img(src="../svg/arrow/arrow-prev.svg", alt="")
        li 
            span.page-item.current 1  
        li 
            a(href="#page-2").page-item 
                span 2 
        li 
            a(href="#page-3").page-item 
                span 3 
        li 
            a(href="#page-4").page-item 
                span 4 
        li 
            a(href="#page-5").page-item 
                span 5 
        li 
            span.page-item ... 
        li 
            a(href="#page-99").page-item 
                span 99
        
        li
            a(href="#next").page-item.next
                img(src="../svg/arrow/arrow-next.svg", alt="")