div.sorting
    div 
        button.btn.filter-toggle
            include ../../svg/IconFilter.svg
            span Фильтр 
            span.filtercount
        include ./filters/filter.pug

    div 
        button.btn.filter-toggle
            include ../../svg/IconSorting.svg
            span Сортировка
        include ./filters/sort.pug