div.sorting
    div 
        button.btn(class="filter-toggle")
            img(src="../svg/IconFilter.svg", alt="")
            span Фильтр
        include ./filters/filter.pug

    button.btn 
        img(src="../svg/IconSorting.svg", alt="")
        span Сортировка