div.table-before 
    h2 Список товаров
div.table.order
    div.thead 
        div.td Куплен
        div.td 
            img(src="../svg/navigation/products.svg", alt="")
            span SKU

        div.td 
            img(src="../svg/navigation/briefcase.svg", alt="")
            span SKU
        div.td Название
        div.td Количество
        div.td Цена продажи
    div.tbody 
        div.tr 
            div.td 
                div.checkbox
                    label 
                        input(type="checkbox")
                        span.checked
            div.td                 
                span 39847                
            div.td 
                span 57935       
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB белый
            div.td 1
            div.td 200 000 ₽
        div.tr 
            div.td 
                div.checkbox
                    label 
                        input(type="checkbox")
                        span.checked
            div.td                 
                span 39847                
            div.td 
                span 57935       
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB белый
            div.td 1
            div.td 200 000 ₽
        div.tr 
            div.td 
                div.checkbox
                    label 
                        input(type="checkbox")
                        span.checked
            div.td                 
                span 39847                
            div.td 
                span 57935       
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB белый
            div.td 1
            div.td 200 000 ₽
        div.tr 
            div.td 
                div.checkbox
                    label 
                        input(type="checkbox")
                        span.checked
            div.td                 
                span 39847                
            div.td 
                span 57935       
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB белый
            div.td 1
            div.td 200 000 ₽
        div.tr 
            div.td 
                div.checkbox
                    label 
                        input(type="checkbox")
                        span.checked
            div.td                 
                span 39847                
            div.td 
                span 57935       
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB белый
            div.td 1
            div.td 200 000 ₽
        div.tr 
            div.td 
                div.checkbox
                    label 
                        input(type="checkbox")
                        span.checked 
            div.td                 
                span 39847                
            div.td 
                span 57935       
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB белый
            div.td 1
            div.td 200 000 ₽
            
        