div.table.slimScroll
    div.thead 
        div.td SKU
        div.td Название
        div.td Цена
        div.td Остатки
        div.td
    div.tbody 
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")
        div.tr 
            div.td 39847
            div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
            div.td 200 000 ₽
            div.td 2 463
            div.td.icons 
                a(href="#") 
                    img(src="../svg/IconTrash.svg", alt="")
                a(href="#") 
                    img(src="../svg/IconPencil.svg", alt="")