div.table.products.slimScroll
    div.thead  
        div.td SKU
        div.td Название
        div.td Цена
        div.td Остатки
        div.td
    div.tbody 
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
        div.tr
            div.trhead
                div.td 39847
                div.td Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                div.td 200 000 ₽
                div.td 2 463
                div.td.icons
                    button(class="delete")
                        img(src="../svg/IconTrash.svg", alt="")
                    a(href="#") 
                        img(src="../svg/IconPencil.svg", alt="")
            div.trfoot
                div.action 
                    span Удалить?
                div.flex.gap16
                    button.btn.cancel Отменить
                    button.btn.prime Удалить
