script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
//- script(src="./../js/slimscroll.js")
script(src="./../js/select2.min.js")
script(src="./../js/nouislider.js")
script(src="./../js/jquery.slimscroll.js")
script(src="./../js/main.js")