doctype html
html(lang="en", target="_blank")
    head
        meta(charset="UTF-8", target="_blank")
        meta(name="viewport", content="width=device-width, initial-scale=1.0", target="_blank")
        link(rel="stylesheet", href="./css/style.css", target="_blank")
        title index
    style.
        h1{
            color:#fff;
            text-align: center;
            margin: 30px;
        }
        ul{
            text-align: center;
        }
        li{
            margin-bottom: 15px;
        }
        a{            
            color:#fff;
        }
        a:hover{            
            text-decoration: none;
        }
        .logo{
            text-align: center;
            margin: 30px 0; 
        }
    body.bg-dark 
        div.logo
            img(src="./svg/Logo.svg", alt="", target="_blank")
        div.field-group(style="margin:0 auto 30px", target="_blank")
            div.field-row.mb16
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/cards.html", target="_blank") Cards
                        li 
                            a(href="./pages/cover.html", target="_blank") Cover
        div.field-group(style="margin:0 auto 30px", target="_blank")
            div.field-row.mb16
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/products.html", target="_blank") Список товаров
                        li 
                            a(href="./pages/product-add.html", target="_blank") Добавить товар
                        li 
                            a(href="./pages/order.html", target="_blank") Заказ №38944
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/organizations.html", target="_blank") Организации
                        li 
                            a(href="./pages/organizations-add.html", target="_blank") Добавить организацию
                        li 
                            a(href="./pages/organizations-item.html", target="_blank") Организация (Работает)
                        li 
                            a(href="./pages/organizations-item_not.html", target="_blank") Организация (Не работает)
                        li 
                            a(href="./pages/organizations-products.html", target="_blank") Организации - Товары  
                        li 
                            a(href="./pages/organizations-edit.html", target="_blank") Организации - Редактирование  
                        li 
                            a(href="./pages/organizations-integration.html", target="_blank") Организации - Интеграция
                        li 
                            a(href="./pages/organizations-staff.html", target="_blank") Организации - Сотрудники
                        li 
                            a(href="./pages/organizations-staff-add.html", target="_blank") Организации - Добавить сотрудника
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/integrations.html", target="_blank") Интеграция
                        li 
                            a(href="./pages/integrations-add.html", target="_blank") Добавить организацию
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/finance.html", target="_blank") Финансовые группы
                        li 
                            a(href="./pages/finance-add.html", target="_blank") Добавить финансовую группу


        div.field-group(style="margin:0 auto 30px", target="_blank")
            div.field-row.mb16
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/staff.html", target="_blank") Сотрудники
                        li 
                            a(href="./pages/staff-partner.html", target="_blank") Сотрудники для пертнера
                        li 
                            a(href="./pages/staff-add.html", target="_blank") Добавить сотрудника
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/profile.html", target="_blank") Профиль                        
                        li 
                            a(href="./pages/profile-completed.html", target="_blank") Профиль - данные заполнены                    
                        li 
                            a(href="./pages/profile-error.html", target="_blank") Профиль - Ошибка                
                        li 
                            a(href="./pages/profile-success.html", target="_blank") Профиль - Проверьте почту                
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/notifications.html", target="_blank") Уведомленеия
                        li 
                            a(href="./pages/notifications-read.html", target="_blank") Уведомленеия прочитаны
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/login.html", target="_blank") Авторизация
                        li 
                            a(href="./pages/login-completed.html", target="_blank") Авторизация (заполненные поля)
                        li 
                            a(href="./pages/login-error.html", target="_blank") Авторизация (Ошибка) 