doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/main.css")
        title index
    style.
        h1{
            color:#fff;
            text-align: center;
            margin: 30px;
        }
        ul{
            text-align: center;
        }
        li{
            margin-bottom: 15px;
        }
        a{            
            color:#fff;
        }
        a:hover{            
            text-decoration: none;
        }
        .logo{
            text-align: center;
            margin: 30px 0; 
        }
    body.bg-dark 
        div.logo
            img(src="./svg/Logo.svg", alt="")
        ul 
            li 
                a(href="./pages/cards.html") Cards
            li 
                a(href="#") Список товаров