doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title index
    style.
        h1{
            color:#fff;
            text-align: center;
            margin: 30px;
        }
        ul{
            text-align: center;
        }
        li{
            margin-bottom: 15px;
        }
        a{            
            color:#fff;
        }
        a:hover{            
            text-decoration: none;
        }
        .logo{
            text-align: center;
            margin: 30px 0; 
        }
    body.bg-dark 
        div.logo
            img(src="./svg/Logo.svg", alt="")
        div.field-group(style="margin:0 auto 30px")
            div.field-row.mb16
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/cards.html") Cards
        div.field-group(style="margin:0 auto 30px")
            div.field-row.mb16
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/products.html") Список товаров
                        li 
                            a(href="./pages/product-add.html") Добавить товар
                        li 
                            a(href="./pages/order.html") Заказ №38944
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/organizations.html") Организации
                        li 
                            a(href="./pages/organizations-add.html") Добавить организацию
                        li 
                            a(href="./pages/organizations-item.html") Организация (Работает)
                        li 
                            a(href="./pages/organizations-item_not.html") Организация (Не работает)
                        li 
                            a(href="./pages/organizations-products.html") Организации - Товары  
                        li 
                            a(href="./pages/organizations-edit.html") Организации - Редактирование  
                        li 
                            a(href="./pages/organizations-integration.html") Организации - Интеграция
                        li 
                            a(href="./pages/organizations-staff.html") Организации - Сотрудники
                        li 
                            a(href="./pages/organizations-staff-add.html") Организации - Добавить сотрудника
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/integrations.html") Интеграция
                        li 
                            a(href="./pages/integrations-add.html") Добавить организацию
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/finance.html") Финансовые группы
                        li 
                            a(href="./pages/finance-add.html") Добавить финансовую группу

                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/staff.html") Сотрудники
                        li 
                            a(href="./pages/staff-partner.html") Сотрудники для пертнера
                        li 
                            a(href="./pages/staff-add.html") Добавить сотрудника
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/profile.html") Профиль                        
                        li 
                            a(href="./pages/profile-completed.html") Профиль - данные заполнены                    
                        li 
                            a(href="./pages/profile-error.html") Профиль - Ошибка                
                        li 
                            a(href="./pages/profile-success.html") Профиль - Проверьте почту                
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/notifications.html") Уведомленеия
                        li 
                            a(href="./pages/notifications-read.html") Уведомленеия прочитаны