doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title index
    style.
        h1{
            color:#fff;
            text-align: center;
            margin: 30px;
        }
        ul{
            text-align: center;
        }
        li{
            margin-bottom: 15px;
        }
        a{            
            color:#fff;
        }
        a:hover{            
            text-decoration: none;
        }
        .logo{
            text-align: center;
            margin: 30px 0; 
        }
    body.bg-dark 
        div.logo
            img(src="./svg/Logo.svg", alt="")
        div.field-group.mx-800(style="margin:0 auto 30px")
            div.field-row.mb16
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/cards.html") Cards
                        li 
                            a(href="./pages/products.html") Список товаров
                        li 
                            a(href="./pages/add-product.html") Добавить товар
                        li 
                            a(href="./pages/order.html") Заказ №38944
                div.field-column
                    ul.mb16 
                        li 
                            a(href="./pages/organizations.html") Организации
                        li 
                            a(href="./pages/add-organizations.html") Добавить организацию