div.app-container_header
    a(href="./integrations.html").back
        img(src="../svg/arrow/arrow-prev.svg", alt="")
    div.title Добавить интеграцию
div.app-container_body
    div.field-group.mw664.mb40   
        div.field-row
            div.field-column
                label(for="") Название
                input(type="text", placeholder="Введите название")
        div.field-row
            div.field-column.mw50
                label(for="") Организация
                div.dropdown-container
                    select(name="group1").select
                        option(value="") Выбранная позиция
                        option(value="1") Позиция списка 1
                        option(value="2") Позиция списка 2
                        option(value="3") Позиция списка 3
                        option(value="4") Позиция списка 4
                        option(value="5") Позиция списка 5 
                        option(value="6") Позиция списка 6
                        option(value="7") Позиция списка 7
                        option(value="8") Позиция списка 8
            div.field-column.mw50
                label(for="") Маркетплейс
                div.dropdown-container
                    select(name="group2").select
                        option(value="") Выбранная позиция
                        option(value="1") Позиция списка 1
                        option(value="2") Позиция списка 2
                        option(value="3") Позиция списка 3
                        option(value="4") Позиция списка 4
                        option(value="5") Позиция списка 5 
                        option(value="6") Позиция списка 6
                        option(value="7") Позиция списка 7
                        option(value="8") Позиция списка 8

        div.field-row.mb40  
            div.field-column.mw50
                label(for="") Схема работы
                div.dropdown-container
                    select(name="group3").select
                        option(value="") Выбранная позиция
                        option(value="1") Позиция списка 1
                        option(value="2") Позиция списка 2
                        option(value="3") Позиция списка 3
                        option(value="4") Позиция списка 4
                        option(value="5") Позиция списка 5 
                        option(value="6") Позиция списка 6
                        option(value="7") Позиция списка 7
                        option(value="8") Позиция списка 8
            div.field-column.mw50
                label(for="") Частота выплат
                div.dropdown-container
                    select(name="group4").select
                        option(value="") Выбранная позиция
                        option(value="1") Позиция списка 1
                        option(value="2") Позиция списка 2
                        option(value="3") Позиция списка 3
                        option(value="4") Позиция списка 4
                        option(value="5") Позиция списка 5 
                        option(value="6") Позиция списка 6
                        option(value="7") Позиция списка 7
                        option(value="8") Позиция списка 8

        div.field-row
            div.field-column
                label(for="") Токен
                input(type="text", placeholder="Введите токен")

        div.field-row.mb40 
            div.field-column.mw33
                label(for="") compaign_id
                input(type="text", placeholder="Введите id")
            div.field-column.mw33
                label(for="") business_id
                input(type="text", placeholder="Введите id")        
            div.field-column.mw33
                label(for="") warehouse_id
                input(type="text", placeholder="Введите id")  

        div.field-row.mb40 
            div.checkbox
                input(type="checkbox", id="checkbox-1")
                label(for="checkbox-1") Использовать общую цену    

        div.field-row
            div.h1 МойСклад

        div.field-row
            div.field-column.mw50
                label(for="") Схема работы
                div.dropdown-container
                    select(name="group5").select
                        option(value="") Выбранная позиция
                        option(value="1") Позиция списка 1
                        option(value="2") Позиция списка 2
                        option(value="3") Позиция списка 3
                        option(value="4") Позиция списка 4
                        option(value="5") Позиция списка 5 
                        option(value="6") Позиция списка 6
                        option(value="7") Позиция списка 7
                        option(value="8") Позиция списка 8
            div.field-column.mw50
                label(for="") Частота выплат
                div.dropdown-container
                    select(name="group6").select
                        option(value="") Выбранная позиция
                        option(value="1") Позиция списка 1
                        option(value="2") Позиция списка 2
                        option(value="3") Позиция списка 3
                        option(value="4") Позиция списка 4
                        option(value="5") Позиция списка 5 
                        option(value="6") Позиция списка 6
                        option(value="7") Позиция списка 7
                        option(value="8") Позиция списка 8          

    div.field-group.gap0
        div.field-footer                
            button.btn Отменить
            button.btn.prime Сохранить
    
