.login-inner
    .h1 Авторизация
    .form-title Введите логин и пароль
    form(action="#") 
        div.field-row.mb24
            div.field-column
                label(for="") Логин
                div.field-input
                    input(type="text", placeholder="Введите почту").error
        div.field-row.mb40
            div.field-column
                label(for="") Пароль
                div.field-input
                    input(type="text", placeholder="Введите пароль").error
        div.field-footer                
            button(type="submit").btn.prime Войти