div.content-header
    div.title 
        span.mw100 Уведомления

    //- a(href="./organizations-add.html").btn.prime
    button.btn.prime.mxw
        span Отметить все прочитанными

div.content-body
    div.notifications
        div.notifications-item
            div.first
                div
                    img(src="../../../svg/notification/note_on.svg", alt="")
                div.title 
                    div.h1 Заголовок непрочитанного уведомления
                    div.subtitle Текст уведомления, описывающий суть и возможные события
            div
                button.link Отметить прочитанным
        div.notifications-item
            div.first
                div
                    img(src="../../../svg/notification/note_on.svg", alt="")
                div.title 
                    div.h1 Заголовок непрочитанного уведомления
                    div.subtitle Текст уведомления, описывающий суть и возможные события
            div
                button.link Отметить прочитанным
        div.notifications-item
            div.first
                div
                    img(src="../../../svg/notification/note_on.svg", alt="")
                div.title 
                    div.h1 Заголовок непрочитанного уведомления
                    div.subtitle Текст уведомления, описывающий суть и возможные события
            div
                button.link Отметить прочитанным
        div.notifications-item.notification-read
            div.first
                div
                    img(src="../../../svg/notification/note_off.svg", alt="")
                div.title 
                    div.h1 Заголовок непрочитанного уведомления
                    div.subtitle Текст уведомления, описывающий суть и возможные события
            div
                button.link Отметить прочитанным
        div.notifications-item.notification-read
            div.first
                div
                    img(src="../../../svg/notification/note_off.svg", alt="")
                div.title 
                    div.h1 Заголовок непрочитанного уведомления
                    div.subtitle Текст уведомления, описывающий суть и возможные события
            div
                button.link Отметить прочитанным
        div.notifications-item.notification-read
            div.first
                div
                    img(src="../../../svg/notification/note_off.svg", alt="")
                div.title 
                    div.h1 Заголовок непрочитанного уведомления
                    div.subtitle Текст уведомления, описывающий суть и возможные события
            div
                button.link Отметить прочитанным
            
