div.app-container_header
    a(href="./organizations.html").back
        img(src="../svg/arrow/arrow-prev.svg", alt="")
    div.title Добавить нового сотрудника
div.app-container_body
    div.field-group.gap0        
        div.field-row.mb40
            div.field-column.mw15
                label(for="") E-mail
                input(type="text", placeholder="Введите почту")
            div.field-column
                label(for="") ФИО
                input(type="text", placeholder="ФИО сотрудника")
            div.field-column.mw25
                label(for="") Должность 
                div.dropdown-container
                    select(name="group").select
                        option(value="") Выберите из списка
                        option(value="1") Позиция списка 1
                        option(value="2") Позиция списка 2
                        option(value="3") Позиция списка 3
                        option(value="4") Позиция списка 4
                        option(value="5") Позиция списка 5 
                        option(value="6") Позиция списка 6
                        option(value="7") Позиция списка 7
                        option(value="8") Позиция списка 8
    

    div.field-group.gap0
        div.field-footer                
            button.btn Отменить
            button.btn.prime Сохранить
    
