div.app-container_header
    a(href="./organizations.html").back
        img(src="../svg/arrow/arrow-prev.svg", alt="")
    div.title Добавить организацию
div.app-container_body
    div.field-group.gap0
        div.field-row.mb24.gap24(data-toggle="collaps")
            div.h2 Основные данные
            img(src="../svg/arrow/arrow-up.svg", alt="", class="toggle-arrow")
        div.field-row.mb40.collaps
            div.field-column.mw60
                label(for="") Название
                input(type="text", placeholder="Название")
            div.field-column.mw25
                label(for="") Финансовая группа
                div.dropdown-container
                    select(name="group").select
                        option(value="") Выбранная позиция
                        option(value="1") Позиция списка 1
                        option(value="2") Позиция списка 2
                        option(value="3") Позиция списка 3
                        option(value="4") Позиция списка 4
                        option(value="5") Позиция списка 5 
                        option(value="6") Позиция списка 6
                        option(value="7") Позиция списка 7
                        option(value="8") Позиция списка 8
            div.field-column.mw15
                label(for="") Доп. процент затрат
                input(type="text", placeholder="Введите значение")
    div.field-group.gap0
        div.field-row.mb24.gap24(data-toggle="collaps")
            div.h2 Желаемая чистая прибыль
            img(src="../svg/arrow/arrow-up.svg", alt="", class="toggle-arrow")
        div.cards-grid.mb40.collaps
            include ../../components/cards/profit/card-default.pug
            include ../../components/cards/profit/card-delete.pug
            include ../../components/cards/profit/card-add-type.pug
            include ../../components/cards/profit/card-add.pug

    div.field-group.gap0
        div.field-row.mb24.gap24(data-toggle="collaps")
            div.h2 Интеграции
            img(src="../svg/arrow/arrow-up.svg", alt="", class="toggle-arrow")
        div.cards-grid.mb40.collaps
            include ../../components/cards/integrations/card-default.pug
            include ../../components/cards/integrations/card-delete.pug
            include ../../components/cards/integrations/card-add.pug
            
        
        div.field-footer                
            a(href="./organizations.html").btn Отменить
            button.btn.prime Сохранить
    
