div.app-container_header
    a(href="./organizations.html").back
        img(src="../svg/arrow/arrow-prev.svg", alt="")
    div.title Добавить нового сотрудника
div.app-container_body
    div.field-group.gap0        
        div.field-row.mb40
            div.field-column.mw15
                label(for="") E-mail
                input(type="text", placeholder="Введите почту")
            div.field-column
                label(for="") ФИО
                input(type="text", placeholder="ФИО сотрудника")
            div.field-column.mw25
                label(for="") Должность
                input(type="text", placeholder="Выберите из списка")
    

    div.field-group.gap0
        div.field-footer                
            button.btn Отменить
            button.btn.prime Сохранить
    
