div.content-header
    div.title 
        a(href="./organizations-products.html").back
            img(src="../svg/arrow/arrow-prev.svg", alt="")
        span Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
div.content-body
    div.field-group.gap0
        div.field-row.mb40
            div.field-column.mw25
                label(for="", class="has-icon gray") 
                    include ../../../svg/navigation/briefcase.svg
                    span SKU
                input(type="text", placeholder="Введите SKU организации")

        div.field-row.mb24.gap24
            div.h1 Ozon INT
        div.field-row.mb40            
            div.field-column.mw240
                label(for="") Цена
                div.field-input
                    input(type="text", value="110 469 ₽") 
                    img(src="../svg/PriceIcon.svg", alt="")
            div.field-column.mw240
                label(for="") Комиссия
                div.field-input
                    input(type="text", value="24 000 ₽")
                    img(src="../svg/PriceIcon.svg", alt="")
            div.field-column.mw240
                label(for="") Прибыль
                div.field-input
                    input(type="text", value="20%")
                    img(src="../svg/PriceIcon.svg", alt="")
            div.field-column.last
                a(href="#", class="link")  Пересчитать комиссию

        div.field-row.mb24.gap24
            div.h1 WB int
        div.field-row.mb40            
            div.field-column.mw240
                label(for="") Цена
                div.field-input
                    input(type="text", value="110 469 ₽") 
                    img(src="../svg/price/hand_on_alarm_off.svg", alt="")
            div.field-column.mw240
                label(for="") Комиссия
                div.field-input
                    input(type="text", value="24 000 ₽")
                    img(src="../svg/PriceIcon.svg", alt="")
            div.field-column.mw240
                label(for="") Прибыль
                div.field-input
                    input(type="text", value="20%")
                    img(src="../svg/PriceIcon.svg", alt="")
            div.field-column.last
                a(href="#", class="link")  Пересчитать комиссию

    div.field-group.gap0
        div.field-footer                
            button.btn Отменить
            button.btn.prime Сохранить