div.tabs                    
    button(data-tab="tab1").tab-link.active Список товаров
    button(data-tab="tab2").tab-link Задания для закупщиков
    //- div.tabs-content    
    //-     div.tab-content.active(data-id="tab1")
    //-         div.content-header 
    //-             div.title Список товаров                               

    //-             a(href="add-product.html").btn.prime
    //-                 img(src="../svg/BTNicons.svg", alt="")
    //-                 span Добавить товар

    //-         div.content-bar
    //-             input(type="text", class="search", placeholder="Поиск по товарам")
    //-             include ../components/sorting.pug 

    //-         include ../components/table.pug                                                     
    //-         include ../components/pagination.pug  
    //- div.tab-content(data-id="tab2")
    //-     div.content-header 
    //-         div.title Задания для закупщиков

    //-     div.content-bar
    //-             input(type="text", class="search", placeholder="Поиск по товарам")
    //-             include ../components/sorting.pug 
        
    //-     div.tab-cards
    //-         include ../components/cards/orders/order.pug
    //-         include ../components/cards/orders/order.pug
    //-         include ../components/cards/orders/order-2.pug
    //-         include ../components/cards/orders/order-2.pug
    //-         include ../components/cards/orders/order-2.pug