div.content-header
    div.page-title
        span Профиль
div.content-body
    form(action="") 
        div.field-group.gap0.mw600
            div.field-row.mb24
                div.h2 Основные данные
            div.field-row.mb40            
                div.field-column
                    label(for="") ФИО
                    div.field-input
                        input(type="text", value="Иванов Иван Иванович") 
            div.field-row.mb24
                div.h2 Почта
            div.field-row.mb40            
                div.field-column
                    label(for="") Почта
                    div.field-input
                        input(type="text", value="123pochta@mail.ru") 
                div.field-column
                    label(for="") Пароль
                    div.field-input.password
                        input(type="text", placeholder="Что-то не так", class="password-input error")
                        //- div.show-password
                        //-     img(src="../svg/eye/hide_on.svg", alt="Показать пароль", class="toggle-icon show")
                        //-     img(src="../svg/eye/hide_off.svg", alt="Скрыть пароль", class="toggle-icon hide", style="display: none;")
            div.field-row.mb24.gap24
                span.notice Подтверждение будет отправлено на почту 
                    b 123pochta@mail.ru
            div.field-row.mb40.gap24
                button.btn.prime Сменить почту


            div.field-row.mb24
                div.h2 Пароль
            div.field-row.mb40            
                div.field-column
                    label(for="") Старый пароль                   
                    div.field-input.password
                        input(type="text", value="password12345", class="password-input")
                        div.show-password
                            img(src="../svg/eye/hide_on.svg", alt="Показать пароль", class="toggle-icon show", style="display: none;")
                            img(src="../svg/eye/hide_off.svg", alt="Скрыть пароль", class="toggle-icon hide")
            div.field-row.mb40            
                div.field-column
                    label(for="") Новый пароль
                    div.field-input.password
                        input(type="text", value="12345password", class="password-input")
                        div.show-password
                            img(src="../svg/eye/hide_on.svg", alt="Показать пароль", class="toggle-icon show", style="display: none;")
                            img(src="../svg/eye/hide_off.svg", alt="Скрыть пароль", class="toggle-icon hide")
                div.field-column
                    label(for="") Повторите пароль
                    div.field-input.password
                        input(type="text", placeholder="Что-то не так", class="password-input error")
                        //- div.show-password
                        //-     img(src="../svg/eye/hide_on.svg", alt="Показать пароль", class="toggle-icon show", style="display: none;")
                        //-     img(src="../svg/eye/hide_off.svg", alt="Скрыть пароль", class="toggle-icon hide")
            div.field-row.mb24.gap24
                span Подтверждение будет отправлено на почту 
                    b 123pochta@mail.ru
            div.field-row.mb24.gap24
                button.btn.prime Сменить пароль
                




        div.field-group.gap0
            div.field-footer                
                button.btn Отменить
                button.btn.prime Сохранить