div.app-container_header
    a(href="./finance.html").back
        img(src="../svg/arrow/arrow-prev.svg", alt="")
    div.title Добавить сотрудника
div.app-container_body
    div.field-group

        div.field-row
            div.h1 Основные данные

        div.field-row.mb40
            div.field-column
                label(for="") E-mail
                input(type="text", placeholder="Введите почту")
            div.field-column
                label(for="") ФИО
                input(type="text", placeholder="ФИО сотрудника")
            div.field-column
                label(for="") Должность
                input(type="text", placeholder="Выберите из списка")
       
        div.field-row
            div.h1 Организации

        div.field-row.mb40
            div.field-column 
                div.checkbox.style-2
                    input(type="checkbox", id="checkbox-1")
                    label(for="checkbox-1") Использовать общую цену   
                
                div.checkbox.style-2
                    input(type="checkbox", id="checkbox-2")
                    label(for="checkbox-2") Использовать общую цену   
                div.checkbox.style-2
                    input(type="checkbox", id="checkbox-3")
                    label(for="checkbox-3") Использовать общую цену   
                    span ФГ Афанасьев
                div.checkbox.style-2
                    input(type="checkbox", id="checkbox-4")
                    label(for="checkbox-4") Использовать общую цену   
                    span ФГ Афанасьев
             

    div.field-group.gap0
        div.field-footer                
            button.btn Отменить
            button.btn.prime Сохранить
    
