doctype html
html(lang="en")
    head
        - var page_title = 'Добавить интеграцию'
        include ../head.pug  
    body.bg-dark
        - var template_main = 'integrations-add'
        include ../layouts/leftsidebar.pug
        include ../foot.pug 