doctype html
html(lang="en")
    - var page_title = 'Уведомления'
    include ../head.pug 

    body.bg-dark
        - var template_main = 'notifications-read' 
        include ../layouts/leftsidebar.pug
            
        include ../foot.pug 