doctype html
html(lang="en")
    - var page_title = 'Добавить организацию'
    include ../head.pug  
    body.bg-dark 
        - var template_main = 'organizations-add'
        include ../layouts/leftsidebar.pug
        include ../foot.pug 