doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/nouislider.css")
        link(rel="stylesheet", href="../css/style.min.css")
        title Сотрудники
    body.bg-dark
        - var template_main = 'staff-partner.pug'
        include ../layouts/leftsidebar.pug 

        //- script(src="./../js/slimscroll.js")
        script(src="./../js/nouislider.js")
        script(src="./../js/main.js")