div.card.profit.min
    div.card__header
        div
            img(src="../svg/PriceIcon.svg").mb8
            div.status
                span 568 товаров

    div.card__body       
        div.info 
            div.text 1%
        div.info 
            div.text от 0 ₽
            div.text до 100 000 ₽
