div.card.profit
    div.card__header
        div.status
            img(src="../svg/price/TohandoffAlarmoff.svg")
            span 568 товаров в диапазоне

    div.card__body       
        div.info 
            div.label Диапазон цен
            div.text от 0 ₽
            div.text до 100 000 ₽
        div.info 
            div.label Прибыль в процентах
            div.text 1%

    div.card__footer.text-right 
        a(href="#").link          
            img(src="../svg/IconTrash.svg", alt="")
            span Удалить
