div.popup(data-id="sendmail")
    div.popup-head
        img(src="../../../../svg/btnIcons/check.svg", alt="")
    div.popup-body 
        span На почту 
        b 123pochta@mail.ru 
        span было отправлено письмо с инструкцией
    button.btn.prime.mw100.close-popup Закрыть окно 