div.card.company.delete    
    div.card__body        
        div.action
            span Удалить
            br 
            span ООО «Ромашка-промо»?        

    div.card__footer.w-100.flex
        a(href="#").btn Отменить
        a(href="#").btn.prime Удалить
