div.card.company
    div.card__header
        div.status
            img(src="../svg/navigation/briefcase.svg")
            span Работает
            img(src="../svg/indicator/status_on.svg" class="indicator")

    div.card__body
        div.action.hidden
            span Удалить
            br 
            span ООО «Ромашка-промо»?      
        div.markets
            a.market(href="#") 
                img(src="../svg/markets/ozon_on.svg", alt="")
            a.market(href="#") 
                img(src="../svg/markets/wb_on.svg", alt="")
            a.market(href="#") 
                img(src="../svg/markets/ym_on.svg", alt="")
        div.title 
            a(href="../pages/organizations-item.html") ООО «Ромашка-промо»
        div.info 
            div.label Финансовая группа
            div.text ФГ Иванов
        div.info 
            div.label Желаемая чистая прибыль
            div.text 3% - 12%
        div.info 
            div.label Доп. процент затрат
            div.text 20%
    div.card__footer.w-100.flex.hidden
        button.btn.cancel Отменить
        a(href="#").btn.prime Удалить
    div.card__footer.text-right 
        button.remove.link          
            img(src="../svg/IconTrash.svg", alt="")
            span Удалить
