div.table-before 
    h2 Товары
div.table.organizations
    div.thead 
        div.td 
            img(src="../svg/navigation/products.svg", alt="")
            span SKU
        div.td 
            img(src="../svg/navigation/briefcase.svg", alt="")
            span SKU
        div.td Название
        div.td Цена закупки
        div.td В продаже
        div.td
    div.tbody 
        div.tr
            div.trhead
                div.trbody_col.first 
                    div.td 39847
                    div.td 39847
                    div.td.title Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                    div.td 200 000 ₽
                    div.td 
                        div.markets
                            a.market(href="#") 
                                img(src="../svg/markets/ozon_on.svg", alt="")
                            a.market(href="#") 
                                img(src="../svg/markets/wb_on.svg", alt="") 
                            a.market(href="#") 
                                img(src="../svg/markets/markets.svg", alt="") 
                div.trbody_col.last
                    div.td.icons
                        button.info.toggle-panel
                            div.icon-svg.ic-1
                                include ../../../../svg/info/active.svg
                            div.icon-svg.ic-2
                                include ../../../../svg/info/active-urgent.svg
                            div.icon-svg.ic-3
                                include ../../../../svg/info/info.svg
                            div.icon-svg.ic-4
                                include ../../../../svg/info/info-urgent.svg
                        button
                            include ../../../../svg/IconTrash.svg
                        a(href="./organizations-edit.html")
                            include ../../../../svg/IconPencil.svg
            div.trbody
                div.trbody_col.first
                    div.trbody_row
                        div.td 
                            div.label Интеграция
                            div.text WB int
                        div.td 
                            div.label Цена 
                            div.text 112 000 ₽ 
                                img(src="../svg/price/hand_on_alarm_off.svg")
                        div.td 
                            div.label Комиссия
                            div.text 24 000 ₽
                                img(src="../svg/PriceIcon.svg")
                                
                        div.td 
                            div.label Прибыль
                            div.text 20%
                                img(src="../svg/PriceIcon.svg")
                    div.trbody_row
                        div.td 
                            div.label Интеграция
                            div.text WB int
                        div.td 
                            div.label Цена 
                            div.text 112 000 ₽
                                img(src="../svg/PriceIcon.svg")
                        div.td 
                            div.label Комиссия
                            div.text 24 000 ₽
                                img(src="../svg/PriceIcon.svg")
                        div.td 
                            div.label Прибыль
                            div.text 20%
                                img(src="../svg/PriceIcon.svg")
                
                div.trbody_col.last
                    div.trbody_row.h-100
                        div 
                            div.label В продаже
                            div.markets
                                a.market(href="#") 
                                    img(src="../svg/markets/ozon_on.svg", alt="")
                                a.market(href="#") 
                                    img(src="../svg/markets/wb_on.svg", alt="") 
                        div 
                            div.label В продаже
                            div.markets
                                a.market(href="#") 
                                    img(src="../svg/markets/markets.svg", alt="")
        div.tr.error
            div.trhead
                div.trbody_col.first 
                    div.td 39847
                    div.td 39847
                    div.td.title Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                    div.td 200 000 ₽
                    div.td 
                        div.markets
                            a.market(href="#") 
                                img(src="../svg/markets/ozon_on.svg", alt="")
                            a.market(href="#") 
                                img(src="../svg/markets/wb_on.svg", alt="") 
                            a.market(href="#") 
                                img(src="../svg/markets/markets.svg", alt="") 
                div.trbody_col.last
                    div.td.icons
                        button.info.toggle-panel
                            div.icon-svg.ic-1
                                include ../../../../svg/info/active.svg
                            div.icon-svg.ic-2
                                include ../../../../svg/info/active-urgent.svg
                            div.icon-svg.ic-3
                                include ../../../../svg/info/info.svg
                            div.icon-svg.ic-4
                                include ../../../../svg/info/info-urgent.svg
                        button
                            include ../../../../svg/IconTrash.svg
                        a(href="./organizations-edit.html")
                            include ../../../../svg/IconPencil.svg
            div.trbody
                div.trbody_col.first
                    div.trbody_row
                        div.td 
                            div.label Интеграция
                            div.text WB int
                        div.td 
                            div.label Цена 
                            div.text 112 000 ₽ 
                                img(src="../svg/price/hand_on_alarm_off.svg")
                        div.td 
                            div.label Комиссия
                            div.text 24 000 ₽
                                img(src="../svg/PriceIcon.svg")
                                
                        div.td 
                            div.label Прибыль
                            div.text 20%
                                img(src="../svg/PriceIcon.svg")
                    div.trbody_row
                        div.td 
                            div.label Интеграция
                            div.text WB int
                        div.td 
                            div.label Цена 
                            div.text 112 000 ₽
                                img(src="../svg/PriceIcon.svg")
                        div.td 
                            div.label Комиссия
                            div.text 24 000 ₽
                                img(src="../svg/PriceIcon.svg")
                        div.td 
                            div.label Прибыль
                            div.text 20%
                                img(src="../svg/PriceIcon.svg")
                
                div.trbody_col.last
                    div.trbody_row.h-100
                        div 
                            div.label В продаже
                            div.markets
                                a.market(href="#") 
                                    img(src="../svg/markets/ozon_on.svg", alt="")
                                a.market(href="#") 
                                    img(src="../svg/markets/wb_on.svg", alt="") 
                        div 
                            div.label В продаже
                            div.markets
                                a.market(href="#") 
                                    img(src="../svg/markets/markets.svg", alt="")
        div.tr.active
            div.trhead
                div.trbody_col.first 
                    div.td 39847
                    div.td 39847
                    div.td.title Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                    div.td 200 000 ₽
                    div.td 
                        div.markets
                            a.market(href="#") 
                                img(src="../svg/markets/ozon_on.svg", alt="")
                            a.market(href="#") 
                                img(src="../svg/markets/wb_on.svg", alt="") 
                            a.market(href="#") 
                                img(src="../svg/markets/markets.svg", alt="") 
                div.trbody_col.last
                    div.td.icons
                        button.info.toggle-panel
                            div.icon-svg.ic-1
                                include ../../../../svg/info/active.svg
                            div.icon-svg.ic-2
                                include ../../../../svg/info/active-urgent.svg
                            div.icon-svg.ic-3
                                include ../../../../svg/info/info.svg
                            div.icon-svg.ic-4
                                include ../../../../svg/info/info-urgent.svg
                        button
                            include ../../../../svg/IconTrash.svg
                        a(href="./organizations-edit.html")
                            include ../../../../svg/IconPencil.svg
            div.trbody
                div.trbody_col.first
                    div.trbody_row
                        div.td 
                            div.label Интеграция
                            div.text WB int
                        div.td 
                            div.label Цена 
                            div.text 112 000 ₽ 
                                img(src="../svg/price/hand_on_alarm_off.svg")
                        div.td 
                            div.label Комиссия
                            div.text 24 000 ₽
                                img(src="../svg/PriceIcon.svg")
                                
                        div.td 
                            div.label Прибыль
                            div.text 20%
                                img(src="../svg/PriceIcon.svg")
                    div.trbody_row
                        div.td 
                            div.label Интеграция
                            div.text WB int
                        div.td 
                            div.label Цена 
                            div.text 112 000 ₽
                                img(src="../svg/PriceIcon.svg")
                        div.td 
                            div.label Комиссия
                            div.text 24 000 ₽
                                img(src="../svg/PriceIcon.svg")
                        div.td 
                            div.label Прибыль
                            div.text 20%
                                img(src="../svg/PriceIcon.svg")
                
                div.trbody_col.last
                    div.trbody_row.h-100
                        div 
                            div.label В продаже
                            div.markets
                                a.market(href="#") 
                                    img(src="../svg/markets/ozon_on.svg", alt="")
                                a.market(href="#") 
                                    img(src="../svg/markets/wb_on.svg", alt="") 
                        div 
                            div.label В продаже
                            div.markets
                                a.market(href="#") 
                                    img(src="../svg/markets/markets.svg", alt="")
                       

                    
        div.tr.active.error
            div.trhead
                div.trbody_col.first 
                    div.td 39847
                    div.td 39847
                    div.td.title Планшет Apple iPad Air (2024) 11” + Cellular 512GB фиолетовый
                    div.td 200 000 ₽
                    div.td 
                        div.markets
                            a.market(href="#") 
                                img(src="../svg/markets/ozon_on.svg", alt="")
                            a.market(href="#") 
                                img(src="../svg/markets/wb_on.svg", alt="") 
                            a.market(href="#") 
                                img(src="../svg/markets/markets.svg", alt="") 
                div.trbody_col.last
                    div.td.icons
                        button.info.toggle-panel
                            div.icon-svg.ic-1
                                include ../../../../svg/info/active.svg
                            div.icon-svg.ic-2
                                include ../../../../svg/info/active-urgent.svg
                            div.icon-svg.ic-3
                                include ../../../../svg/info/info.svg
                            div.icon-svg.ic-4
                                include ../../../../svg/info/info-urgent.svg
                        button 
                            include ../../../../svg/IconTrash.svg
                        a(href="./organizations-edit.html")
                            include ../../../../svg/IconPencil.svg
            div.trbody
                div.trbody_col.first
                    div.trbody_row
                        div.td 
                            div.label Интеграция
                            div.text WB int
                        div.td 
                            div.label Цена 
                            div.text 112 000 ₽
                        div.td 
                            div.label Комиссия
                            div.text 24 000 ₽
                        div.td 
                            div.label Прибыль
                            div.text 20%
                    div.trbody_row
                        div.td 
                            div.label Интеграция
                            div.text WB int
                        div.td 
                            div.label Цена 
                            div.text 112 000 ₽
                        div.td 
                            div.label Комиссия
                            div.text 24 000 ₽
                        div.td 
                            div.label Прибыль
                            div.text 20%
                
                div.trbody_col.last
                    div.trbody_row.h-100
                        div 
                            div.label В продаже
                            div.markets
                                a.market(href="#") 
                                    img(src="../svg/markets/ozon_on.svg", alt="")
                                a.market(href="#") 
                                    img(src="../svg/markets/wb_on.svg", alt="") 
                        div 
                            div.label В продаже
                            div.markets
                                a.market(href="#") 
                                    img(src="../svg/markets/markets.svg", alt="")
            
                
            
        