button{
    border: none;
    box-shadow: none; 
    cursor: pointer;
}

.btn{
    width: 100%;
    max-width: 270px;
    height: 44px;
    padding: 13.5px 24px;
    border-radius: 16px;
    color: #fff;
    background: #FFFFFF1A;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &:hover{
        background: #FFFFFF33;
    }

    &.prime{
        background: #6825DA;

        &:hover{
            background: #7D39F0;
        }
    }

    &.wide{
        max-width: inherit;
    }
}
.btn-add{
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &.prime{
        background: #6825DA;

        &:hover{
            background: #7D39F0;
        }
    } 
}