.cards {
    padding: 40px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 12px));
    gap: 24px 16px;


    @media (max-width: 1480px) {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        max-width: inherit;

        &.min {
            min-height: 163px;
        }

        @media (max-width: 1480px) {

            max-width: 342px;

        }
    }

}

.flex-grid {
    display: flex;
    gap: 24px 16px;

    .card {
        max-width: 222px;
        width: 100%;

        &.min {
            min-height: 163px;
        }

    }
}

.card {
    background: #FFFFFF1A;
    backdrop-filter: blur(16px);
    max-width: 342px;
    min-height: 380px;
    border-radius: 24px;
    padding: 40px 24px;
    color: #fff;

    display: flex;
    flex-direction: column;

    &.company {
        min-height: 508px;
    }

    &:last-child {
        margin-bottom: 0 !important;
    }

    a {
        text-decoration: none;
    }

    .card__header {
        padding-bottom: 24px;
        border-bottom: 1px solid #FFFFFF1A;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.type {
            border-bottom: none;
        }

        .date {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            color: #FFFFFF99;
        }
    }

    .card__body {
        flex-grow: 1;
    }

    .action {
        font-size: 24px;
        font-weight: 600;
        line-height: 28.8px;
    }

    .status {
        display: flex;
        align-items: center;
        gap: 8px;

        .indocator {
            padding-left: 8px;
            padding-right: 8px;
        }

        span {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
        }
    }

    .markets {
        margin-top: 24px;
        margin-bottom: 24px;
        display: flex;
        gap: 8px;
    }

    .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 28.8px;

        a{
            color: #fff;
        }
    }


    .info {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .label {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        color: #FFFFFF99;
        margin-bottom: 8px;
    }

    .text {
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .card__footer {
        margin-top: auto;
    }


    .card__footer {
        &.w-100 {
            gap: 16px
        }

        .btn {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .link {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;

        &:hover {
            span {
                border-color: transparent;
            }
        }

        span {
            font-size: 18px;
            font-weight: 400;
            line-height: 1rem;
            color: #FFFFFF99;
            border-bottom: 1px solid #FFFFFF99;
            padding-top: 5px;
        }
    }

    .remove-btn {}


    .fz18 {
        font-size: 18px;
    }


    &.organization {
        min-height: 370px;

        .title {
            margin-top: 24px;
            margin-bottom: 24px;
            font-size: 28px;
            font-weight: 700;
            line-height: 33.6px;

        }
    }

    &.integrations {
        min-height: 370px;

        .title {
            margin-top: 24px;
            margin-bottom: 24px;
            font-size: 28px;
            font-weight: 700;
            line-height: 33.6px;

        }

        .markets {
            flex-direction: column;

            .market {
                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 28.8px;
                    color: #fff;
                }
            }


        }
    }

    &.worker {
        min-height: 473px;

        .title {
            margin-top: 24px;
            margin-bottom: 40px;
            font-size: 28px;
            font-weight: 700;
            line-height: 33.6px;
        }

        .info {
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }

    &.order {
        min-height: 313px;

        @media (max-width: 1480px) {
            max-width: 342px;
        }

        .card__header {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }

        .title {
            margin-top: 24px;
            margin-bottom: 40px;
            font-size: 28px;
            font-weight: 700;
            line-height: 33.6px;
        }

        .detail {
            display: flex;
            align-items: center;
            gap: 8px;

            a {
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;
                color: #FFFFFF99;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .markets {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;

            .market {
                display: grid;
                grid-template-columns: 40px 1fr;
                align-items: center;
            }

            span {
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                color: #fff;
            }
        }

        .info {
            margin-top: 16px;
            margin-bottom: 16px;
        }

        .status {
            span {
                color: #FFFFFF99;
            }

            .check {
                color: #fff;
            }
        }
    }

    .more {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-decoration: underline;
        color: #FFFFFF99;

        &:hover {
            text-decoration: none;
        }
    }

    &.mh312 {
        min-height: 312px;
    }
    &.mh340 {
        min-height: 340px;
    }
}