.filed_row {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;


    &:last-child {
        margin-bottom: 0;
    }

    label {
        font-size: 24px;
        font-weight: 600;
        line-height: 28.8px;
    }

    input {
        max-width: 246px;
        background: #FFFFFF1A;
        width: 100%;
    }
}


input {
    background: #FFFFFF0D;
    border: none;
    width: 480px;
    height: 48px;
    padding: 16px 24px;
    border-radius: 16px;
    color: #fff;

    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;


    &:focus {
        outline: 2px solid #6825DA;
        outline-color: #6825DA;
        outline-offset: 0px;
    }

    &::placeholder {
        color: #FFFFFF66;

        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;

    }



    &.search {
        background-image: url(./../svg/IconSearch.svg);
        background-position: 24px center;
        background-repeat: no-repeat;
        padding-left: 64px;
    }
}