div.page-wrapper
    div.main-container
        div.sidebar-wrapper 
            nav.sidebar-inner.slimScroll
                div.sidebar-header
                    div.brand
                        a(href="../") 
                            img(src="./../svg/Logo.svg", alt="")
                    div.toggle-sidebar
                        img(src="./../svg/ToggleBar.svg", alt="")
                div.user-profile
                    a(href="./profile.html")
                        div.icon
                            img(src="./../svg/IconAccount.svg", alt="")
                        div.user
                            div.user-name Иванов Иван Иванович
                            div.user-role Администратор


                div.menu-wrap
                    ul.menu  
                        li 
                            a(href="./products.html").menu-item.active
                                img(src="./../svg/navigation/products.svg", alt="") 
                                span Товары
                        li 
                            a(href="./organizations.html").menu-item
                                img(src="./../svg/navigation/briefcase.svg", alt="") 
                                span Организации
                        li 
                            a(href="./integrations.html").menu-item
                                img(src="./../svg/navigation/integrations.svg", alt="") 
                                span Интеграции
                        li 
                            a(href="./finance.html").menu-item
                                img(src="./../svg/navigation/finance.svg", alt="") 
                                span Финансовые группы
                        li 
                            a(href="./staff.html").menu-item
                                img(src="./../svg/navigation/users.svg", alt="") 
                                span Пользователи
                div.sidebar-footer
                    ul.menu   
                        li 
                            a(href="./notifications.html").menu-item
                                img(src="./../svg/navigation/notifications.svg", alt="") 
                                span Уведомления
                                span.badge 99+

                        li 
                            a(href="/").menu-item
                                img(src="./../svg/navigation/logout.svg", alt="") 
                                span Выйти

        div.app-container 
            div.app-container-bg
            div.app-container-inner 
                if template_main == 'products'
                    include ./content/products.pug    
                if template_main == 'product-add'
                    include ./content/product-add.pug
                if template_main == 'order'
                    include ./content/order.pug
                if template_main == 'organizations'
                    include ./content/organizations.pug 
                if template_main == 'organizations-add'
                    include ./content/organizations-add.pug
                if template_main == 'organizations-item'
                    include ./content/organizations-item.pug
                if template_main == 'organizations-edit' 
                    include ./content/organizations-edit.pug
                if template_main == 'organizations-item_not'
                    include ./content/organizations-item_not.pug
                if template_main == 'organizations-products'
                    include ./content/organizations-products.pug
                    
                if template_main == 'organizations-integration'
                    include ./content/organizations-integration.pug
                if template_main == 'organizations-staff'
                    include ./content/organizations-staff.pug
                if template_main == 'organizations-staff-add'
                    include ./content/organizations-staff-add.pug

                if template_main == 'integrations'
                    include ./content/integrations.pug 
                if template_main == 'integrations-add'
                    include ./content/integrations-add.pug 

                if template_main == 'finance'
                    include ./content/finance.pug 
                if template_main == 'finance-add'
                    include ./content/finance-add.pug 

                if template_main == 'staff'
                    include ./content/staff.pug 
                if template_main == 'staff-partner.pug'
                    include ./content/staff-partner.pug 
                if template_main == 'staff-add.pug'
                    include ./content/staff-add.pug 

                if template_main == 'profile'
                    include ./content/profile.pug 
                if template_main == 'profile-completed'
                    include ./content/profile-completed.pug 
                if template_main == 'profile-error'
                    include ./content/profile-error.pug 
                if template_main == 'profile-success'
                    include ./content/profile-success.pug 

                if template_main == 'notifications'
                    include ./content/notifications.pug 

                if template_main == 'notifications-read'
                    include ./content/notifications-read.pug 
                    
            include ./content/popup/popup-sendmail.pug           