div.page-wrapper
    div.main-container
        div.sidebar-wrapper 
            nav.sidebar-inner.slimScroll
                div.sidebar-header
                    div.brand
                        a(href="../") 
                            img(src="./../svg/Logo.svg", alt="")
                    div.toggle-sidebar
                        img(src="./../svg/ToggleBar.svg", alt="")
                div.user-profile
                    a(href="#")
                        div.icon
                            img(src="./../svg/IconAccount.svg", alt="")
                        div.user
                            div.user-name Иванов Иван Иванович
                            div.user-role Администратор


                div.menu-wrap
                    ul.menu  
                        li 
                            a(href="/pages/products.html").menu-item.active
                                img(src="./../svg/navigation/products.svg", alt="") 
                                span Товары
                        li 
                            a(href="/pages/organizations.html").menu-item
                                img(src="./../svg/navigation/briefcase.svg", alt="") 
                                span Организации
                        li 
                            a(href="#").menu-item
                                img(src="./../svg/navigation/integrations.svg", alt="") 
                                span Интеграции
                        li 
                            a(href="#").menu-item
                                img(src="./../svg/navigation/finance.svg", alt="") 
                                span Финансовые группы
                        li 
                            a(href="#").menu-item
                                img(src="./../svg/navigation/users.svg", alt="") 
                                span Пользователи
                div.sidebar-footer
                    ul.menu  
                        li 
                            a(href="#").menu-item
                                img(src="./../svg/navigation/notifications.svg", alt="") 
                                span Уведомления
                                span.badge 99+

                        li 
                            a(href="#").menu-item
                                img(src="./../svg/navigation/logout.svg", alt="") 
                                span Выйти


        div.app-container
            div.app-container-bg
            div.app-container-inner
                if template_main == 'products'
                    include ./content/products.pug    
                if template_main == 'add-product'
                    include ./content/add-product.pug
                if template_main == 'order'
                    include ./content/order.pug
                if template_main == 'organizations'
                    include ./content/organizations.pug
                if template_main == 'add-organizations'
                    include ./content/add-organizations.pug
                    


            