div.page-wrapper
    div.main-container
        nav.sidebar-wrapper 
            div.sidebar-header
                div.brand
                    a(href="#") 
                        img(src="./../svg/Logo.svg", alt="")
                div.toggle-sidebar
                    img(src="./../svg/ToggleBar.svg", alt="")
            div.user-profile User 
            div.menu menu
            div.sidebar-footer
                div.notification notification 
                div.logout Exit


        div.app-container content