@use 'reset';
@use 'fonts';
@use 'variables';
@use '_cards/cards.scss';

*{
    box-sizing: border-box;
}

body {
    font-family: 'Golos Text', sans-serif;
}

.bg-dark{
    background-color: variables.$bg;    
}